PROJECT_NAME="AI-Powered Integrated Bid Compliance Verification Platform"
API_V1_STR="/api/v1"
SECRET_KEY=

MONGODB_URL=
MONGODB_DB_NAME=bidnexus_ai

LLM_PROVIDER=gemini
GEMINI_API_KEY=
OPENAI_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
