# Project Environment Settings
PROJECT_NAME="AI-Powered Integrated Bid Compliance Verification Platform"
API_V1_STR="/api/v1"
SECRET_KEY="YOUR_NEW_SECRET_KEY"

# MongoDB Configuration
MONGODB_URL="mongodb+srv://jaswanth:root@cluster0.okhihr5.mongodb.net/?appName=Cluster0"
MONGODB_DB_NAME="bidnexus_ai"

# LLM & AI Service API Configuration
LLM_PROVIDER="auto"
GEMINI_API_KEY=""
OPENAI_API_KEY=""

# Cloudinary File Storage
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""