# Environment variables
.env
.env.*
!.env.example
!.env.production
!frontend/.env.production

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Database
*.db
*.sqlite
*.sqlite3

# Local uploaded files
uploads/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db